h2 {
  color: blue;
}

body, html {
  height: 100%;
  min-height: 100%;
}

.parallax { 
    /* Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

#logo {
  padding-top: 10px;
  padding-left: 5px;
  width: -300%;
  height: -300%;
  position: absolute;
}

body {
  background-image: url("Images/team.jpg"); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

a {
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-color: none;
}

.form {
  cursor: pointer;
}

.footer-list-bottom a:hover {
  color: grey;
}

ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

li {
  display: inline-block;
  padding: 5px 5px;
}

.modal-header {
  padding: 0;
  border: none;
}

.form-control {
  border: 1px soild #999;
  border-radius: 10;
  height: 35px;
}

#myModalLabel {
  color: white;
  font-size: 35px;
  text-align: center;
  position: fixed;
  top: 40px;
  left: 25px;
}

.modal-content {
  background-color: rgba(0,111,147,0.7);
}

#address {
  color: white;
  font-size: 15px;
  position: relative;
  top: 10px;
  left: 10px;
}

#iconcol {
  width: 40%;
  align-items: flex-start;
  padding-right: 40px;
}

#textcol {
  width: 60%;
  text-align: left;
}

.box1 {
width: 50%;
height:100%;
padding: 0 0 0% 0%;
float: left 
}

.box2 {
width: 50%;
padding: 0 2% 0 0;
float: left
}

.modal-footer .btn-primary {
  width: 275px;
  position: relative;
  right: 15px;
  font-size: 16px;
}

.modal-footer .btn-primary:hover {
  background-color: #53ab38;
}

.modal-footer {
  padding: 10px;
  border: none;
}

hr {
  width: 20%;
  position:fixed;
  left: 80px;
}

.fa-twitter {
  color: white;
  position: fixed;
  bottom: 80px;
  left: 110px;
}

.fa-facebook {
  color: white;
  position: fixed;
  bottom: 80px;
  left: 150px;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-facebook:hover {
  color:#00008b;
}

.form:hover {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #262626;
  position: fixed;
  left:0;
  right:0;
  bottom: 0px;
  height: 45px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.footer-list-bottom {
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

#twit {
  color: white;
  position: static;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

#face {
  color: white;
  position: static;
  float: right;
  padding-top: 20px;
  padding-right: 40px;
} 

#twit:hover {
    color: #55acee;
}

#face:hover {
    color:#00008b;
}

#Login-Register {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center}

#sub {
  /*height: 20%;*/
}

.form-horizontal {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.btn-primary {
  background-color: white;
  border-color: white;
  color: black;
}

h1#title {
  font-family:"Enriqueta";
  font-style: bold;
  font-size: 80px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
}

.support {
  background-color: lightgrey;
  margin: 45px;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}

div#container_support {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
  vertical-align: middle;
  background-image: url("Images/Support.jpg"); 
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#signin {
  display: block;
  margin: 0 auto;

}

div#about-us {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: -40px;
  padding: 0px;
  background-image: url("Images/Slider4.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.teambox {
  background-color: rgba(16, 37, 63, 0.9);
  border-radius: 10px;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}


#material-icons {
  font-family: 'Material+icons';
}

#clickhere {
  display: block;
  margin: 0 auto;
  background-color: lightgrey;
  border-color: lightgrey;
}

#parallax { 
  max-width: 500px; 
  margin: 1rem auto;
  padding: 1rem;
}

h5 {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  padding-top: 5px;
}

